<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>SmartTodo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="client/controllers.js"></script>
    <script src="client/factories.js"></script>
    <script src="client/app.js"></script>

  </head>
  <body ng-app="app">
    <div ng-controller="TodoList">
      <h1>Todo App</h1>
      <form>
        <input type="text" ng-model="todoItem">
        <input type="submit" ng-model="submitItem" ng-click="addItem(todoItem)">
      </form>
      <div class="todoList">
        <ul ng-repeat="todo in todos track by $index" ng-click="removeItem($index)" >
          <li >{{todo}}</li>
        </ul>
      </div>
    </div> 
  </body>
</html>

